.gearPicParent{
    margin: 35px 20px;
}

.gearpic{
    position: relative;
}

.gearPhoto{
align-items: unset;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    top: 145px;
    bottom: .05px;
    right: 8px;
}

.addToCart{
    width: 40px;
    height: 40px;
    font-size: 30px; 
}