.gearPicParent{
    margin: 0px 20px;
    height: 200px;

}

.gearpic{
    position: relative;
}

.gearPhoto{
    display: flex;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: center;

}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    top: 145px;
    bottom: .05px;
    right: 8px;
}

.addToCart{
    width: 40px;
    height: 40px;
    font-size: 30px; 
}

.add_cart{
    width: 10px;
}

.add_cart:hover{
    width: 155px;
}

.background_logo{
    position: absolute;
    width: 400px;
    bottom: 0;
    right: 0;
}