.gearPicParent{
    margin: 0px 20px;
    position: relative;
}

.gearpic{
    display: flex;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: center;
    padding:20px; 
    border-radius: 10px;

}

.gearPhotos{
    display: flex;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: center;

}
.bottom-right {
    position: absolute;
    top: 145px;
    bottom: .05px;
    right: 8px;
}
.add_cart{
    width: 150px;
    opacity: 0;
}

.add_cart:hover{
    width: 155px;
}

.gearpic:hover .add_cart {
    width: 155px;
    opacity: 1;
}

.background_logo{
    position: absolute;
    width: 400px;
    bottom: 0;
    right: 0;
    z-index: -99;
}

/* ADMIN FORM  */
.admin_form{
    background-color: rgba(0, 0, 0, 0.442);
    width:50%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}

.ship{
    padding-top: 80px;
}
/* ADMIN FORM  */

.name{
    color: whitesmoke;
}

.drop{
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    position: relative;
}