.drawer{
    position: absolute;
    color:var(--secondaryColor);
    background: var(--mainColor);
    height: 100vh;
    left: 0px;
    transition: .3s;
    transition-timing-function: ease-in;
    z-index: 99;
}
.hidden{
    left: -375px;
}
.drawerContent{
    padding: 20px;
    width: 200px;
}
.drawerContent div{
    padding-top:40px;
}
