.backgroundPhoto{
    position: relative;
    background: url("../Assets/ww_background.svg");
    width:90%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh
}

.title{
    margin: 20px;
    display: flex;
    margin-bottom: 20px;
}


.content{
    margin: 0px;
}

.instapic{
    height: 350px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tripIcon{
    position: relative;
    align-items: center;
    justify-content: center;
    width:100%;
}

.gearForm{
flex-wrap: wrap-reverse;  
}

.inventory{
    margin-top: 25%;
    align-items: center;
    justify-content: center;
}
.dashpics{
    width:100%;
    border-radius: 10px;

}

.travelpic{
    
    height: 275px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}





@media(max-width: 700px){

    .dashpics{
        width:100%;
    }
    
}
