.backgroundPhoto{
    position: relative;
    background: url("../Assets/ww_background.svg");
    width:90%;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}

.title{
    margin: 20px;
    display: flex;
}

.instapic{
    width: 400px;
    height: 400px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tripIcon{
    position: relative;
    align-items: center;
    justify-content: center;
    width:100%;
}
