.login{
    position: relative;
    overflow: hidden;
}

.background{
    width: 75%;
    height: 100%;
    
}

.logo{
    position: absolute;
    width:30%;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}

.loginInputs{
    position: absolute;
    width:30%;
    left: 50%;
    top: 52%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}
