.login{
    position: relative;
    overflow: hidden;
    background-color: #555;
    opacity:.9;
}

.background{
    width: 75%;
    height: 100%;
}


.loginInputs{
    position: absolute;
    width:30%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}

.video{
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        overflow: hidden;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover; 
}

.loginButton{
    width:90px;
    padding-top: 40px;
}

.loginButton:hover{
    width:100px;
}

.enterbutton{
    width:200px;
}

.enterbutton:hover {
    width:205px;
}


/* SVG ANIMATION */
html, body {
    background: #333;
    height: 100%;
    /* overflow: hidden; */
    text-align: center;
  }
  
  .svg-wrapper {
    height: 60px;
      margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
  }
  
  .shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #19f6e8;
  }
  
  .text {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
  }
  
  @keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
    }
  }
  
  .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }
/* SVG ANIMATION */


/* LOGO ANIMATION*/
.logo{
    position: absolute;
    width:30%;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
}

path {
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 2500;
    opacity: 10;
    animation: animate 3s cubic-bezier(0,0.23,1,.1)
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 2500;
    }

    20%{
        stroke-dashoffset: 2500;
    }
    30% {
        opacity: 10;
        fill: none;
    }
    90% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}
/* LOGO ANIMATION*/


@media(max-width: 700px){
    .logo{
        width:50%;
    }

    .loginInputs{
        top: 50%;
    }

    .background{
        height: 100vh;
    }
 
}
