.trips{
    margin: 2%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.coord{
    display: flex;
    align-items: center;
    justify-content: center;
}

.trip_img{
    width: 100%;
} 

.tripBanner{
    display: flex;
    justify-content: space-around;
}

.add_cart{
    width: 150px;
    opacity: 0;
}

.gearpic:hover .add_cart {
    width: 155px;
    opacity: 1;
}