.trips{
    margin: 2%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.coord{
    display: flex;
    align-items: center;
    justify-content: center;
}

.trip_img{
    width: 100%;
} 

.tripBanner{
    display: flex;
    justify-content: space-around;
}
