
.header{
    z-index: 5;
    /* you need position in order to use z-index */
    /* the zindex on the drawer is 0, and will be behind. */
    justify-content: space-between ;
    align-items: center;
    color: var(--white);
    padding-top:20px;  
}

.menuItem{
    padding: 10px;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.125em;
    transition: border-bottom-color 50ms linear 0s;
    font-weight: 350;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* cart logo */
.cart{
    padding-top: 6px;
    width:28px;
}

.account{
    padding-left: 10px;
    padding-bottom: 5px; 
}


.menuItem:hover{
    border-bottom-color: #FFF;
}

.navlogo{
    width: 200px;
    padding-left: 100px;
 
}

.menuList{
    display: inline;
    padding-right: 100px;

}


/* ---ham menu--- */
.smallLogo{
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .5s .03s;
    opacity: 0;
    top: 35px;
    left: 95px;
}

.smallLogo2{
    opacity: 1;
}

.ham{
    display: none;
}
.bar{
    background: var(--secondaryColor);
    width: 35px;
    height: 4px;
    margin: 3px;
    transition: .3s;
    margin-left: 100px;
}
.bar1{
    transform: rotate(405deg) translate(7px,3px);
    opacity: 0;
 
}
.bar2{
    transform: rotate(-180deg)translate(-3px,-12px);
    opacity: 0;

}

.bar3{
    transform: rotate(-405deg) translate(7px, -2px);
    opacity: 0;
}


a {
    color: white;
    text-decoration: none;
}
a:visited {
    color: rgba(255, 255, 255, 0.123);
}
a:active {
    color: rgb(117, 117, 117);
}

@media(max-width:700px){
    .ham{
        display: inline;
    }
    .menuList{
        display: none
    }

    .navlogo{
        width: 250px;
        margin-right: 32px;
        padding-bottom: 24px;
    }
    .header{
        height: 80px;
    }
} 